<article class="block post">

	<div class="bar block-bar">

		<div class="bar-left">
			<div class="bar-item">

				<button class="bar-profile action" data-toggle="author-aid-{{ article.id }}">
				{# <button class="bar-profile action profile-btn" popovertarget="author-aid-{{ article.id }}"> #}

					<span class="avatar-wrap avatar avatar-sm">
						{{ avatar('user', article.author_avatar[0], '', false, true, 'avatar-sm', true) }}
					</span>

					<span class="bar-user">
						{{- baihu_username('username', article.author, article.author_name, article.author_color, 'bar-author') -}}
						<small class="bar-user-title">{{ article.author_rank }}</small>
					</span>

				</button>

				{% from '@baihu_baihu/macros/user/profile.twig' import baihu_profile %}
				{{ baihu_profile(
					article.author_avatar[0],
					article.author,
					article.author_name,
					article.author_color,
					article.author_rank,
					article.author_rank_img,
					true,
					article.id
				) }}

			</div>
		</div>

		<div class="bar-right">

			<span class="bar-item bar-info post-meta-time u-hidden-xs-down">
				<time class="post-meta-time-text" datetime="{{ article.date }}" title="{{ article.date }}" data-short="{{ article.date }}">{{ article.date }}</time>
			</span>
		</div>
	</div>

	<section class="post-body">

		<h3>{{ link({'href': article.link}, article.title) }}</h3>
		{% if S_PROFILE_POSTS %}
			<h5>{{ lang('BAIHU_POSTED_IN', article.s_first_post_id) }} {{ link({'href': path('baihu_articles', {'fid': article.category_id})}, article.category_name) }}</h5>
		{% endif %}

		<div class="content">
			{{ article.text ~ (article.is_trimmed ? lang('ELLIPSIS') ~ link({'href': article.link}, lang('READ_FULL'))) }}
		</div>

		<div class="bar post-action-bar">
			<div class="bar-left post-action-bar-right"></div>
			<div class="bar-right post-action-bar-right">

				<span class="bar-item action post-action" data-tooltip="true" title="{{ lang('VIEWS') ~ ': ' ~ article.views }}">
					{{ Icon('gzo', 'fa-regular--eye', lang('VIEWS'), true, 'icon action-icon') }}
				</span>
				<span class="bar-item action post-action" href="" data-tooltip="true" title="{{ lang('REPLIES') ~ ': ' ~ article.replies }}">
					{{ Icon('gzo', 'mdi--comments-text-outline', lang('REPLIES'), true, 'icon action-icon') }}
				</span>
				<span class="bar-item action post-action" href="" data-tooltip="true" title="{{ lang('BAIHU_LIKE') }}">
					{{ Icon('gzo', 'mdi--heart-outline', lang('BAIHU_LIKE'), true, 'icon action-icon') }}
				</span>
			</div>
		</div>

	</section>
</article>
