<article class="block gzo-post">

	<div class="bar block-bar">

		<div class="bar-left">
			<div class="bar-item">

				<button class="bar-profile action" data-toggle="author-aid-{{ article.id }}">

					<span class="gzo-avatar-wrap gzo-avatar gzo-avatar-sm">
						{{ avatar('user', article.author_avatar[0], '', false, true, 'gzo-avatar-sm', true) }}
					</span>

					<span class="bar-user">
						{{- baihu_username('username', article.author, article.author_name, article.author_color, 'bar-author') -}}
						<small class="bar-user-title">{{ article.author_rank }}</small>
					</span>

				</button>
				{{- include('@baihu_baihu/includes/profile-mini.twig', article) -}}

			</div>
		</div>

		<div class="bar-right">

			<span class="bar-item bar-info gzo-post-meta-time u-hidden-xs-down">
				<time class="gzo-post-meta-time-text" datetime="{{ article.date }}" title="{{ article.date }}" data-short="{{ article.date }}">{{ article.date }}</time>
			</span>
		</div>
	</div>

	<section class="gzo-post-body">

		<h3>{{ link({'href': article.link}, article.title) }}</h3>

		<div class="gzo-content">
			{{ article.text ~ (article.is_trimmed ? lang('ELLIPSIS') ~ link({'href': article.link}, lang('READ_FULL'))) }}
		</div>

		<div class="bar gzo-post-action-bar">
			<div class="bar-left gzo-post-action-bar-right"></div>
			<div class="bar-right gzo-post-action-bar-right">

				<span class="bar-item action gzo-post-action" data-tooltip="true" title="{{ lang('VIEWS') ~ ': ' ~ article.views }}">
					{{ Icon('gzo', 'fa-regular--eye', lang('VIEWS'), true, 'icon action-icon') }}
				</span>
				<span class="bar-item action gzo-post-action" href="" data-tooltip="true" title="{{ lang('REPLIES') ~ ': ' ~ article.replies }}">
					{{ Icon('gzo', 'mdi--comments-text-outline', lang('REPLIES'), true, 'icon action-icon') }}
				</span>
				<span class="bar-item action gzo-post-action" href="" data-tooltip="true" title="{{ lang('BAIHU_LIKE') }}">
					{{ Icon('gzo', 'mdi--heart-outline', lang('BAIHU_LIKE'), true, 'icon action-icon') }}
				</span>
			</div>
		</div>

	</section>
</article>
