<nav class="gzo-crumbs-container">
	{% set MICRODATA = 'itemtype="https://schema.org/ListItem" itemprop="itemListElement" itemscope' %}
	{% set navlink_position = 1 %}

	{% EVENT gzo_header_breadcrumbs_before %}

	<ol class="gzo-crumbs" itemscope itemtype="https://schema.org/BreadcrumbList" role="list">
		{% if not GZO_IN_AREA %}

			{% if U_SITE_HOME %}
				<li class="gzo-crumbs-item" {{ MICRODATA }} role="listitem">
					<a class="gzo-crumbs-link" itemprop="item" href="{{ U_SITE_HOME }}" data-navbar-reference="home">
						{{ Icon('gzo', 'ic--outline-home', lang('SITE_HOME'), true, 'gzo-crumbs-icon') }}
						<span class="gzo-crumbs-text" itemprop="name">{{ lang('SITE_HOME') }}</span>
					</a>
					<meta itemprop="position" content="{{ navlink_position }}{% set navlink_position = navlink_position + 1 %}" />
				</li>
			{% endif %}

			{% EVENT gzo_header_breadcrumb_prepend %}

			<li class="gzo-crumbs-item" {{ MICRODATA }} role="listitem">
				<a class="gzo-crumbs-link" itemprop="item" href="{{ U_INDEX }}" accesskey="h" data-navbar-reference="index">
					{% if not U_SITE_HOME %}
						{{ Icon('gzo', 'mdi--forum-outline', lang('SITE_HOME'), true, 'gzo-crumbs-icon') }}
					{% else %}
						{{ Icon('gzo', 'mdi--chevron-right', '', true, 'gzo-crumbs-icon') }}
					{% endif %}
					<span class="gzo-crumbs-text" itemprop="name">{{ lang('INDEX') }}</span>
				</a>
				<meta itemprop="position" content="{{ navlink_position }}{% set navlink_position = navlink_position + 1 %}" />
			</li>
		{% endif %}

		{% for navlink in navlinks %}
			{% set NAVLINK_NAME = navlink.BREADCRUMB_NAME | default(navlink.FORUM_NAME) %}
			{% set NAVLINK_LINK = navlink.U_BREADCRUMB | default(navlink.U_VIEW_FORUM) %}

			{% EVENT gzo_header_navlink_prepend %}

			<li class="gzo-crumbs-item" {{ MICRODATA }}{% if navlink.MICRODATA %} {{ navlink.MICRODATA }}{% endif %}>
				<a class="gzo-crumbs-link" itemprop="item" href="{{ NAVLINK_LINK }}" title="{{ NAVLINK_NAME }}">
					{% if GZO_IN_AREA and loop.first %}
						{{ Icon('gzo', 'mdi--view-dashboard-outline', lang('DASHBOARD'), true, 'gzo-crumbs-icon') }}
					{% else %}
						{{ Icon('gzo', 'mdi--chevron-right', '', true, 'gzo-crumbs-icon') }}
					{% endif %}

					{# {{ Icon('gzo', 'mdi--chevron-right', '', true, 'gzo-crumbs-icon') }} #}
					<span class="gzo-crumbs-text" itemprop="name">{{ NAVLINK_NAME }}</span>
				</a>
				<meta itemprop="position" content="{{ navlink_position }}{% set navlink_position = navlink_position + 1 %}" />
			</li>

			{% EVENT gzo_header_navlink_append %}

		{% endfor %}

		{% EVENT gzo_header_breadcrumb_append %}

	</ol>

	{% EVENT gzo_header_breadcrumbs_after %}

</nav>
