{% embed '@baihu_baihu/includes/drawer-item.twig' %}

	{% block drawer_top %}
		<div class="block-info block-user">

			<span class="avatar-wrap avatar avatar-sm">
				{{ avatar('user', CURRENT_USER_AVATAR, '', false, true, 'avatar-sm', true) }}
			</span>

			<span class="gzo-user-status">
				{{ CURRENT_USERNAME_SIMPLE }}
				<small class="gzo-user-status-title">
					@{{ S_USERNAME }}
				</small>
			</span>

		</div>
	{% endblock %}

	{% block drawer %}

		<li class="navigation-item">
			<a class="navigation-link" href="{{ U_USER_PROFILE }}" title="{{ lang('READ_PROFILE') }}">
				{{ Icon('gzo', 'mdi--account-circle-outline', lang('READ_PROFILE'), true) -}}
				<span class="navigation-text">{{ lang('READ_PROFILE') }}</span>
			</a>
		</li>

		<li class="navigation-divider"></li>
		<li class="navigation-item">
			<a class="navigation-link" href="{{ U_PROFILE }}">
				{{ Icon('gzo', 'mdi--settings-outline', lang('PROFILE'), true) -}}
				<span class="navigation-text">{{ lang('SETTINGS') }}</span>
			</a>
		</li>

		{% if U_ACP %}
			<li class="navigation-item">
				<a class="navigation-link" href="{{ U_AREAZ_MAIN }}">
					{{ Icon('gzo', 'admin', lang('AREA_MAIN_PAGE'), true) -}}
					<span class="navigation-text">{{ lang('AREA_MAIN_PAGE') }}</span>
				</a>
			</li>

			<li class="navigation-item">
				<a class="navigation-link" href="{{ U_ACP }}">
					{{ Icon('gzo', 'mdi--administrator-outline', lang('ACP'), true) -}}
					<span class="navigation-text">{{ lang('ACP') }}</span>
				</a>
			</li>
		{% endif %}

		{% if U_MCP %}
			<li class="navigation-item">
				<a class="navigation-link" href="{{ U_MCP }}">
					{{ Icon('gzo', 'mdi--shield-sword-outline', lang('MCP'), true) -}}
					<span class="navigation-text">{{ lang('MCP') }}</span>
				</a>
			</li>
		{% endif %}

		<li class="navigation-divider"></li>

		{% if S_DISPLAY_SEARCH %}
			<li class="navigation-item">
				<button class="navigation-link navigation-btn" data-toggle="side-menu">
					{{ Icon('gzo', 'mdi--file-settings-outline', lang('QUICK_LINKS'), true) -}}
					<span class="navigation-text">{{ lang('QUICK_LINKS') }}</span>
				</button>

				<ul class="navigation-menu action-toggle baihu-side-menu">
					{% if S_REGISTERED_USER %}
					<li class="navigation-item">
						<a class="navigation-link" href="{{ U_SEARCH_SELF }}" role="menuitem">
							{{ Icon('gzo', 'tabler--file-text-spark', lang('SEARCH_SELF'), true) -}}
							<span class="navigation-text">{{ lang('SEARCH_SELF') }}</span>
						</a>
					</li>
					{% endif %}

					{% if S_USER_LOGGED_IN %}
					<li class="navigation-item">
						<a class="navigation-link" href="{{ U_SEARCH_NEW }}" role="menuitem">
							{{ Icon('gzo', 'unknown', lang('SEARCH_NEW'), true) -}}
							<span class="navigation-text">{{ lang('SEARCH_NEW') }}</span>
						</a>
					</li>
					{% endif %}
					{% if S_LOAD_UNREADS %}
					<li class="navigation-item">
						<a class="navigation-link" href="{{ U_SEARCH_UNREAD }}" role="menuitem">
							{{ Icon('gzo', 'mdi--file-text-outline', lang('SEARCH_UNREAD'), true) -}}
							<span class="navigation-text">{{ lang('SEARCH_UNREAD') }}</span>
						</a>
					</li>
					{% endif %}
					<li class="navigation-item">
						<a class="navigation-link" href="{{ U_SEARCH_UNANSWERED }}" role="menuitem">
							{{ Icon('gzo', 'file-alert', lang('SEARCH_UNANSWERED'), true) -}}
							<span class="navigation-text">{{ lang('SEARCH_UNANSWERED') }}</span>
						</a>
					</li>
					<li class="navigation-item">
						<a class="navigation-link" href="{{ U_SEARCH_ACTIVE_TOPICS }}" role="menuitem">
							{{ Icon('gzo', 'active', lang('SEARCH_ACTIVE_TOPICS'), true) -}}
							<span class="navigation-text">{{ lang('SEARCH_ACTIVE_TOPICS') }}</span>
						</a>
					</li>
				</ul>
			</li>
		{% endif %}

		{% if not S_IS_BOT and (S_DISPLAY_MEMBERLIST or U_TEAM) %}
			{% if S_DISPLAY_MEMBERLIST %}
				<li class="navigation-item">
					<a class="navigation-link" href="{{ U_MEMBERLIST }}">
						{{ Icon('gzo', 'mdi--users-outline', lang('MEMBERLIST'), true) -}}
						<span class="navigation-text">{{ lang('MEMBERLIST') }}</span>
					</a>
				</li>
			{% endif %}
			{% if U_TEAM %}
				<li class="navigation-item">
					<a class="navigation-link" href="{{ U_TEAM }}">
						{{ Icon('gzo', 'mdi--account-group-outline', lang('THE_TEAM'), true) -}}
						<span class="navigation-text">{{ lang('THE_TEAM') }}</span>
					</a>
				</li>
			{% endif %}
		{% endif %}

		<li class="navigation-divider"></li>
		<li class="navigation-item">
			<a class="navigation-link" href="{{ U_LOGIN_LOGOUT }}">
				{{ Icon('gzo', 'mdi--exit-to-app', lang('LOGIN_LOGOUT'), true) -}}
				<span class="navigation-text">{{ lang('LOGIN_LOGOUT') }}</span>
			</a>
		</li>

	{% endblock %}

{% endembed %}
