{% embed '@baihu_baihu/includes/drawer-item.twig' %}

	{% block drawer_top %}
		<div class="gzo-block-info gzo-block-user">

			<span class="gzo-avatar-wrap gzo-avatar gzo-avatar-sm">
				{{ avatar('user', CURRENT_USER_AVATAR, '', false, true, 'gzo-avatar-sm', true) }}
			</span>

			<span class="gzo-user-status">
				{{ CURRENT_USERNAME_SIMPLE }}
				<small class="gzo-user-status-title">
					@{{ S_USERNAME }}
				</small>
			</span>

		</div>
	{% endblock %}

	{% block drawer %}

		<li class="gzo-navigation-item">
			<a class="gzo-navigation-link" href="{{ U_USER_PROFILE }}" title="{{ lang('READ_PROFILE') }}">
				{{ Icon('gzo', 'mdi--account-circle-outline', lang('READ_PROFILE'), true) -}}
				<span class="gzo-navigation-text">{{ lang('READ_PROFILE') }}</span>
			</a>
		</li>

		<li class="gzo-navigation-divider"></li>
		<li class="gzo-navigation-item">
			<a class="gzo-navigation-link" href="{{ U_PROFILE }}">
				{{ Icon('gzo', 'mdi--settings-outline', lang('PROFILE'), true) -}}
				<span class="gzo-navigation-text">{{ lang('SETTINGS') }}</span>
			</a>
		</li>

		{% if U_ACP %}
			<li class="gzo-navigation-item">
				<a class="gzo-navigation-link" href="{{ U_GZO_ADMIN }}">
					{{ Icon('gzo', 'mdi--administrator-outline', lang('AREA_MAIN_PAGE'), true) -}}
					<span class="gzo-navigation-text">{{ lang('AREA_MAIN_PAGE') }}</span>
				</a>
			</li>

			<li class="gzo-navigation-item">
				<a class="gzo-navigation-link" href="{{ U_ACP }}">
					{{ Icon('gzo', 'mdi--administrator-outline', lang('ACP'), true) -}}
					<span class="gzo-navigation-text">{{ lang('ACP') }}</span>
				</a>
			</li>
		{% endif %}

		{% if U_MCP %}
			<li class="gzo-navigation-item">
				<a class="gzo-navigation-link" href="{{ U_MCP }}">
					{{ Icon('gzo', 'mdi--shield-sword-outline', lang('MCP'), true) -}}
					<span class="gzo-navigation-text">{{ lang('MCP') }}</span>
				</a>
			</li>
		{% endif %}

		<li class="gzo-navigation-divider"></li>

		{% if not S_IS_BOT and (S_DISPLAY_MEMBERLIST or U_TEAM) %}

			<li class="gzo-navigation-item">
				<button class="gzo-navigation-link gzo-navigation-btn" data-toggle="side-menu">
					{{ Icon('gzo', 'mdi--hamburger-menu', lang('QUICK_LINKS'), true) -}}
					<span class="gzo-navigation-text">{{ lang('QUICK_LINKS') }}</span>
				</button>

				<ul class="gzo-navigation-menu gzo-action-toggle gzo-side-menu">
					<li class="gzo-navigation-item">
						<a class="gzo-navigation-link">
							{{ Icon('gzo', 'mdi--users-outline', lang('MEMBERLIST'), true) -}}
							<span class="gzo-navigation-text">test</span>
						</a>
					</li>
					<li class="gzo-navigation-item">
						<a class="gzo-navigation-link">
							{{ Icon('gzo', 'mdi--users-outline', lang('MEMBERLIST'), true) -}}
							<span class="gzo-navigation-text">test</span>
						</a>
					</li>
					<li class="gzo-navigation-item">
						<a class="gzo-navigation-link">
							{{ Icon('gzo', 'mdi--users-outline', lang('MEMBERLIST'), true) -}}
							<span class="gzo-navigation-text">test</span>
						</a>
					</li>
					<li class="gzo-navigation-item">
						<a class="gzo-navigation-link">
							{{ Icon('gzo', 'mdi--users-outline', lang('MEMBERLIST'), true) -}}
							<span class="gzo-navigation-text">test</span>
						</a>
					</li>
					<li class="gzo-navigation-item">
						<a class="gzo-navigation-link">
							{{ Icon('gzo', 'mdi--users-outline', lang('MEMBERLIST'), true) -}}
							<span class="gzo-navigation-text">test</span>
						</a>
					</li>
				</ul>
			</li>

			{% if S_DISPLAY_MEMBERLIST %}
				<li class="gzo-navigation-item">
					<a class="gzo-navigation-link" href="{{ U_MEMBERLIST }}">
						{{ Icon('gzo', 'mdi--users-outline', lang('MEMBERLIST'), true) -}}
						<span class="gzo-navigation-text">{{ lang('MEMBERLIST') }}</span>
					</a>
				</li>
			{% endif %}
			{% if U_TEAM %}
				<li class="gzo-navigation-item">
					<a class="gzo-navigation-link" href="{{ U_TEAM }}">
						{{ Icon('gzo', 'mdi--account-group-outline', lang('THE_TEAM'), true) -}}
						<span class="gzo-navigation-text">{{ lang('THE_TEAM') }}</span>
					</a>
				</li>
			{% endif %}
		{% endif %}

		<li class="gzo-navigation-divider"></li>
		<li class="gzo-navigation-item">
			<a class="gzo-navigation-link" href="{{ U_LOGIN_LOGOUT }}">
				{{ Icon('gzo', 'mdi--exit-to-app', lang('LOGIN_LOGOUT'), true) -}}
				<span class="gzo-navigation-text">{{ lang('LOGIN_LOGOUT') }}</span>
			</a>
		</li>

	{% endblock %}

{% endembed %}
