<aside class="section-side">

	{% if AGE is not empty %}
	<div class="block profile-block">
		<div class="bar block-bar">
			<span class="bar-item bar-info">
				<h3>{{ lang('INFORMATION') }}</h3>
			</span>
		</div>

		<ul class="block-stats profile-details">
			{% if S_USER_INACTIVE %}
				<li class="profile-details-item">
					<span class="profile-details-status">
						<h4>{{ lang('USER_IS_INACTIVE') }}</h4>
						<small class="profile-details-title">{{ USER_INACTIVE_REASON }}</small>
					</span>
				</li>
			{% endif %}

			{% if AGE is not empty %}
				<li class="profile-details-item">
					<span class="profile-details-status">
						<h4>{{ lang('AGE') }}</h4>
						<small class="profile-details-title">{{ AGE }}</small>
					</span>
				</li>
				<li class="profile-details-divider"></li>
			{% endif %}

			{% EVENT memberlist_view_non_contact_custom_fields_before %}

			<li class="profile-details-item">
				{% for cf in custom_fields %}
					{% if cf.S_PROFILE_CONTACT == false %}
						<span class="profile-details-status">
							<h4>{{ cf.PROFILE_FIELD_NAME }}</h4>
							<small class="profile-details-title">{{ cf.PROFILE_FIELD_VALUE }}</small>
						</span>
					{% endif %}
				{% endfor %}

			</li>
			{% EVENT memberlist_view_non_contact_custom_fields_after %}
		</ul>
	</div>
	{% endif %}

	{% EVENT memberlist_view_contact_before %}
	<div class="block profile-block">
		<div class="bar block-bar">
			<span class="bar-item bar-info">
				<h3>{{ lang('BAIHU_CONTACT') }}</h3>
			</span>
		</div>

		<ul class="block-stats profile-details">
			{% if U_EMAIL %}
				<li class="profile-details-item">
					{{ link({'class': 'profile-details-link', 'href': U_EMAIL, 'title': lang('SEND_EMAIL_USER')}) }}

					<span class="profile-details-icon">{{ Icon('gzo', 'email') }}</span>
					<span class="profile-details-status">
						<h4>{{ lang('SEND_EMAIL_USER') }}</h4>
						{# <small class="profile-details-title">{% if POSTS_PCT %}{{ POSTS_PCT }}{% endif %}</small> #}
					</span>

				</li>
			{% endif %}

			{% if U_PM %}
				<li class="profile-details-item">
					{{ link({'class': 'profile-details-link', 'href': U_PM, 'title': lang('SEND_PRIVATE_MESSAGE')}) }}

					<span class="profile-details-icon">{{ Icon('gzo', 'mdi--comment-account-outline') }}</span>
					<span class="profile-details-status">
						<h4>{{ lang('SEND_PRIVATE_MESSAGE') }}</h4>
						{# <small class="profile-details-title">{% if POSTS_PCT %}{{ POSTS_PCT }}{% endif %}</small> #}
					</span>

				</li>
			{% endif %}

			{% EVENT memberlist_view_contact_custom_fields_before %}

			{% for cf in custom_fields %}

				{% if cf.S_PROFILE_CONTACT %}

					{% if cf.PROFILE_FIELD_CONTACT %}
						{% set field_icon = S_PROFILE_PHPBB_WEBSITE ? 'tabler--world-www' : '' %}

						<li class="profile-details-item">
							{{ link({'class': 'profile-details-link', 'href': cf.PROFILE_FIELD_CONTACT, 'title': cf.PROFILE_FIELD_DESC}) }}

							<span class="profile-details-icon">{{ Icon('gzo', 'tabler--world-www', cf.PROFILE_FIELD_DESC) }}</span>
							<span class="profile-details-status">
								<h4>{{ cf.PROFILE_FIELD_DESC }}</h4>
								{# <small class="profile-details-title">{% if POSTS_PCT %}{{ POSTS_PCT }}{% endif %}</small> #}
							</span>

						</li>
					{% else %}
						{# Needs work #}
						<li>{{ cf.PROFILE_FIELD_VALUE }}</li>
					{% endif %}

				{% endif %}
			{% endfor %}

			{% EVENT memberlist_view_contact_custom_fields_after %}
		</ul>

	</div>
	{% EVENT memberlist_view_contact_after %}

	{% if RANK_TITLE %}
	<div class="block profile-block">
		<div class="bar block-bar">
			<span class="bar-item bar-info">
				<h3>{{ lang('BAIHU_RANK') }}</h3>
			</span>
		</div>

		<div class="block-stats profile-details">
		<h3 class="profile-meta">

			{# {{- baihu_username('profile', user_id, username, color, 'profile-user-link') -}} #}

			{% EVENT memberlist_view_rank_avatar_before %}


			{% if RANK_IMG %}
				<span class="profile-group">{{ RANK_IMG }}</span>
			{% endif %}

			{% EVENT memberlist_view_rank_avatar_after %}
		</h3>
		</div>
	</div>
	{% endif %}

	<div class="block profile-block">
		<div class="bar block-bar">
			<span class="bar-item bar-info">
				<h3>{{ lang('STATISTICS') }}</h3>
			</span>
		</div>

		<ul class="block-stats profile-details">
			{% EVENT memberlist_view_user_statistics_before %}

			{# {{ POSTS_DAY }} #}

			<li class="profile-details-item">
				{% if POSTS and S_DISPLAY_SEARCH %}<a class="profile-details-link" href="{{ U_SEARCH_USER }}" title="{{ lang('SEARCH_USER_POSTS') }}"></a>{% endif %}
				<span class="profile-details-icon">{{ Icon('gzo', 'mdi--comment-text-outline') }}</span>

				<span class="profile-details-status">
					<h4>{{ lang('TOTAL_POSTS') }}</h4>
					<small class="profile-details-title">{% if POSTS_PCT %}{{ POSTS_PCT }}{% endif %}</small>
				</span>

				<span class="profile-details-item-hero">{{ POSTS }}</span>
			</li>

			{% if POSTS_IN_QUEUE %}
			<li class="profile-details-divider"></li>
			<li class="profile-details-item">
				{% if U_MCP_QUEUE %}
					<a class="profile-details-link" href="{{ U_MCP_QUEUE }}" title="{{ lang('BAIHU_POSTS_IN_QUEUE', POSTS_IN_QUEUE) }}"></a>
				{% endif %}
				<span class="profile-details-icon">{{ Icon('gzo', 'mdi--comment-text-outline') }}</span>

				<span class="profile-details-status">
					<h4>{{ lang('BAIHU_POSTS_IN_QUEUE', POSTS_IN_QUEUE) }}</h4>
					<small class="profile-details-title">test</small>
				</span>

				<span class="profile-details-item-hero">{{ POSTS_IN_QUEUE }}</span>
			</li>

			{% endif %}

			<li class="profile-details-divider"></li>
			{# <li class="profile-details-item">

				<div class="">{{ Icon('gzo', 'tabler--file-text-spark') }}</div>

				<div>
					<h4>{{ lang('ACTIVE_IN_TOPIC') }}</h4>
					<small class="profile-details-title">{% if POSTS_PCT %}{{ POSTS_PCT }}{% endif %}</small>
				</div>

				<div class="profile-details-item-hero">{{ POSTS }}</div>
			</li> #}

			{% EVENT memberlist_view_user_statistics_after %}
		</ul>

	</div>

</aside>
