<div class="block post-profile action-toggle baihu-author-aid-{{ article.id }}">

	<a href="{{ article.author_profile }}">
		<div class="avatar-wrap avatar-lg">
			{{ avatar('user', article.author_avatar[0], '', false, true, 'avatar-lg', true) }}
		</div>
	</a>

	<h4 class="post-profile-meta">
		{{- baihu_username('profile', article.author, article.author_name, article.author_color, 'post-profile-user') -}}

		{% if article.author_rank %}
			<small class="post-profile-user-title">{{ article.author_rank }}</small>
		{% endif %}

		{% if article.author_rank_img %}
			<span class="post-profile-rank">{{ article.author_rank_img }}</span>
		{% endif %}
	</h4>

</div>
