<div class="gzo-tab-panel-row">
	{% EVENT gzo_stats_prepend %}

	<span class="gzo-tab-panel-text">
		{{ lang('TOTAL_POSTS_COUNT', TOTAL_POSTS) }} &bull; {{ lang('TOTAL_TOPICS', TOTAL_TOPICS) }} &bull; {{ lang('TOTAL_USERS',TOTAL_USERS) }} &bull; {{ lang('NEWEST_USER', gzo_username('profile', N_USER_ID, N_USER_NAME, N_USER_COLOR, 'gzo-newest-user')) }}
	</span>

	<span class="gzo-tab-panel-text">
		{{ lang('GZO_PER_DAY', lang('POSTS'), ppd) }} &bull; {{ lang('GZO_PER_DAY', lang('TOPICS'), tpd) }} &bull; {{ lang('GZO_PER_DAY', lang('USERS'), upd) }}
	</span>

	{% EVENT gzo_stats_append %}
</div>
