{% embed '@baihu_baihu/includes/block-item.twig' %}
	{# {% block block_title %}{{ lang('THE_TEAM') }}{% endblock %} #}
	{% block block_title %}{{ get_group_name(team_name) }}{% endblock %}

	{% block block_content %}

		<div class="block-stats">
			{% for member in the_team %}

				<div class="block-info block-user">

					<span class="avatar-wrap avatar avatar-sm">
						{{ avatar('user', member.avatar[0], '', false, true, 'avatar-sm') }}
					</span>

					<span class="user-status">
						{{- baihu_username('profile', member.id, member.name, member.color, 'gzo-the-team-user') -}}
						<small class="user-status-title">{{ member.rank }}</small>
					</span>

				</div>
			{% else %}
				{# TODO: Language string for no members #}
			{% endfor %}
		</div>

	{% endblock %}

{% endembed %}
