{% embed '@baihu_baihu/includes/block-item.twig' %}

	{% block block_bar %}{% endblock %}

	{% block block_content %}

		<div role="tablist">
			<button id="tab-1" role="tab" aria-controls="tabPanel-1" aria-selected="true" tabindex="0">
				{{ Icon('gzo', 'mdi--access-point', lang('WHO_IS_ONLINE'), true) }}<span class="c-tab-text">{{ lang('WHO_IS_ONLINE') }}</span>
			</button>

			<button id="tab-2" role="tab" aria-controls="tabPanel-2" aria-selected="true" tabindex="-1">
				{{ Icon('gzo', 'ic--outline-cake', lang('BIRTHDAYS'), true) }}<span class="c-tab-text">{{ lang('BIRTHDAYS') }}</span>
			</button>

			<button id="tab-3" role="tab" aria-controls="tabPanel-3" aria-selected="true" tabindex="-1">
				{{ Icon('gzo', 'mdi--chart-line', lang('STATISTICS'), true) }}<span class="c-tab-text">{{ lang('STATISTICS') }}</span>
			</button>
		</div>

		<div class="gzo-tab-panels">
			<div class="gzo-tab-panel" id="tabPanel-1" role="tabpanel" tabindex="0" aria-labelledby="tab-1">
				{% EVENT gzo_stat_blocks_before %}

				{% if S_DISPLAY_ONLINE_LIST %}
					{{ include('@baihu_baihu/includes/online-list.twig') }}
				{% endif %}
			</div>

			<div class="gzo-tab-panel" id="tabPanel-2" hidden role="tabpanel" tabindex="0" aria-labelledby="tab-2">
					{% EVENT gzo_birthday_block_before %}
					{% if S_DISPLAY_BIRTHDAY_LIST %}
						{{ include('@baihu_baihu/includes/birthday.twig') }}
					{% endif %}
			</div>

			<div class="gzo-tab-panel" id="tabPanel-3" hidden role="tabpanel" tabindex="0" aria-labelledby="tab-3">
					{% if N_USER_ID %}
						{{ include('@baihu_baihu/includes/stats.twig') }}
					{% endif %}

					{% EVENT gzo_stat_blocks_after %}
			</div>
		</div>

	{% endblock %}

{% endembed %}
