{% embed '@baihu_baihu/includes/block-item.twig' %}
	{% block block_title %}{{ lang('LEADERS') }}{% endblock %}

	{% block block_content %}

		<div class="block-stats">
			{% for top in top_posters %}

				<div class="block-info block-user">

					<span class="avatar-wrap avatar avatar-sm">
						{{ avatar('user', top.avatar[0], '', false, true, 'avatar-sm') }}
					</span>

					<span class="user-status">
						{{- baihu_username('profile', top.id, top.name, top.color, 'top-posters-user') -}}
						<small class="user-status-title">
							{{ lang('POSTS') }} {{ top.posts }}
						</small>
					</span>

				</div>

			{% endfor %}
		</div>

	{% endblock %}

{% endembed %}
