{{ include('overall_header.html') }}

<h1>{% block acp_heading %}{% endblock %}</h1>

{% import '@baihu_baihu/macros/forms.twig' as form %}

<form method="post" action="{{ U_ACTION }}">
	{% block acp_form_content %}{% endblock %}

	<p class="submit-buttons">
		{{ form.input('submit', lang('SUBMIT'), 'button1', {'type': 'submit'}) }}
		{{ form.input('reset', lang('RESET'), 'button2', {'type': 'reset'}) }}
	</p>

	{{ S_FORM_TOKEN }}
</form>

{{ include('overall_footer.html') }}
