<!doctype html>
<html dir="{{ S_CONTENT_DIRECTION }}" lang="{{ S_USER_LANG }}">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="Description" content="{{ SITE_DESCRIPTION }}">

		{{ META }}
		<title>{% if UNREAD_NOTIFICATIONS_COUNT %}({{ UNREAD_NOTIFICATIONS_COUNT }}) {% endif %}{{ SITENAME }} - {{ PAGE_TITLE }}</title>

		{% if U_CANONICAL %}
			<link rel="canonical" href="{{ U_CANONICAL }}">
		{% endif %}

		{% if S_COOKIE_NOTICE %}
			<link href="{{ T_ASSETS_PATH }}/cookieconsent/cookieconsent.min.css?assets_version={{ T_ASSETS_VERSION }}" rel="stylesheet">
		{% endif %}

		{# Baihu theme #}
		{% INCLUDECSS '@baihu_baihu/css/theme.css' %}

		{% EVENT baihu_header_head_append %}

		{$STYLESHEETS}

		{% EVENT baihu_header_stylesheets_after %}

	</head>

	<body>

		<div class="page" id="page-top" data-container="page">

			<header class="header-container">

				<div id="overlay"></div>

				{# Baihu navbar section #}
				{% block baihu_header %}
					{{ include('@baihu_baihu/includes/search.twig') }}
					{{ include('@baihu_baihu/includes/topbar.twig') }}
				{% endblock %}

			</header>

			{% block baihu_main_before %}{% endblock %}
			<main class="container">

				{# Baihu crumbs #}
				{% block baihu_crumb %}
					{{ include('@baihu_baihu/includes/crumbs.twig') }}
				{% endblock %}

				{% block baihu_main_content_before %}{% endblock %}

				<section class="content-main">

					{% block baihu_main_left %}
						{% EVENT baihu_main_left %}
					{% endblock %}

					{# Baihu main section #}
					<div class="section-main">
						{% block baihu_main_content_top %}{% endblock %}

						{% block baihu_main_content %}{% endblock %}

						{% block baihu_main_content_bottom %}
							{{ baihu_blocks('baihu_bottom') }}
							{% EVENT baihu_main_bottom %}
						{% endblock %}
					</div>

					{% block baihu_main_right %}
						{% if config('baihu_side') %}
							<div class="section-side">
								{{ baihu_blocks('baihu_side') }}
							</div>
						{% endif %}
					{% endblock %}

				</section>

				{% block baihu_main_content_after %}{% endblock %}

			</main>

			<footer class="footer-container" id="page-bottom">
				{{ include('@baihu_baihu/includes/footer.twig') }}
			</footer>

		</div>

		<script src="{{ T_JQUERY_LINK }}"></script>
		<script src="{{ T_ASSETS_PATH }}/javascript/core.js?assets_version={{ T_ASSETS_VERSION }}"></script>
		{% INCLUDEJS 'ajax.js' %}

		{% if S_COOKIE_NOTICE %}
			<script src="{{ T_ASSETS_PATH }}/cookieconsent/cookieconsent.min.js?assets_version={{ T_ASSETS_VERSION }}"></script>
			<script>
				if (typeof window.cookieconsent === "object") {
					window.addEventListener("load", function(){
						window.cookieconsent.initialise({
							"palette": {
								"popup": {
									"background": "#0F538A"
								},
								"button": {
									"background": "#E5E5E5"
								}
							},
							"theme": "classic",
							"content": {
								"message": "{LA_COOKIE_CONSENT_MSG}",
								"dismiss": "{LA_COOKIE_CONSENT_OK}",
								"link": "{LA_COOKIE_CONSENT_INFO}",
								"href": "{UA_PRIVACY}"
							}
						});
					});
				}
			</script>
		{% endif %}

		{% INCLUDEJS '@baihu_baihu/js/baihu.js' %}
		{% INCLUDEJS '@baihu_baihu/js/core.js' %}
		{% INCLUDEJS '@baihu_baihu/js/ajax.js' %}

		{% EVENT baihu_footer_after %}

		{$SCRIPTS}

		{% EVENT baihu_footer_body_after %}

	</body>

</html>
