{% extends '@baihu_baihu/layout/base.twig' %}

{% block baihu_main_content_before %}

	<header class="block content-header profile-header">

		<div class="content-header-cover-container">
			<div class="content-header-cover profile-header-cover"></div>
		</div>

		<div class="content-header-info">
			<div class="avatar-wrap header-avatar-wrap header-avatar-size">
				{{ avatar('user', AVATAR, '', false, true, 'content-header-avatar avatar-md', S_ONLINE) }}
			</div>
			<div class="content-header-meta">
				<span class="profile-header-status">
					<h1>
						{{- baihu_username('username', user_id, username, color, 'profile-user') -}}
					</h1>
					{% if RANK_TITLE %}
						<small class="profile-header-title">{{ RANK_TITLE }}</small>
					{% endif %}
				</span>
				<span class="profile-header-tools">
					<button class="action" data-tooltip="true" data-toggle="profile-header-tools" title="{{ lang('BAIHU_TOOLS') }}">
						{{ Icon('gzo', 'mdi--more-vert', lang('BAIHU_TOOLS'), true) }}
					</button>

					{{ include('@baihu_baihu/includes/tools.twig') }}
				</span>
			</div>
			<div class="profile-header-stats">
				<div>
					<h4>{{ lang('JOINED') }}</h4>
					<small class="profile-header-time">
						<time class="profile-header-time-text" datetime="{{ JOINED }}" title="{{ JOINED }}" data-short="{{ JOINED }}">{{ JOINED }}</time>
					</small>
				</div>
				<div>
					<h4>{{ lang('LAST_ACTIVE') }}</h4>
					<small class="profile-header-time">
						<time class="profile-header-time-text" datetime="{{ LAST_ACTIVE }}" title="{{ LAST_ACTIVE }}" data-short="{{ LAST_ACTIVE }}">{{ LAST_ACTIVE }}</time>
					</small>
				</div>
			</div>
		</div>

	</header>

	{% if tabs %}
		<nav class="block content-tabs" role="navigation">
			<ul role="menubar">
				{% for tab in tabs %}
					{{ include('@baihu_baihu/includes/tab-item.twig') }}
				{% endfor %}
			</ul>
		</nav>
	{% endif %}

{% endblock %}

{% block baihu_main_left %}
	<aside class="section-side">
		{% block baihu_profile_aside %}{% endblock %}
	</aside>
{% endblock %}

{% block baihu_main_right %}{% endblock %}
