{% extends '@baihu_baihu/layout/gzo-area.twig' %}

{% block gzo_main_heading %}

	<h2>{{ lang('AREA_MAIN_PAGE') }}</h2>
	<p class="gzo-area-desc">{{ lang('AREA_MAIN_PAGE_DESC') }}</p>

{% endblock %}

{% block gzo_main_content %}

	<div class="gzo-cards">
		<div class="gzo-card gzo-card-test">
			<span class="gzo-card-icon">{{ Icon('gzo', 'mdi--alien-outline', lang('GZO_VERSION'), true) }}</span>
			<span class="gzo-card-list">
				{{ lang('GZO_VERSION') }}
				<small class="gzo-card-item">{{ GZO_VERSION }}</small>
			</span>
		</div>

		<div class="gzo-card">
			<span class="gzo-card-icon">{{ Icon('gzo', 'mdi--style-outline', lang('GZO_STYLE'), true) }}</span>
			<span class="gzo-card-list">
				{{ lang('GZO_STYLE') }}
				<small class="gzo-card-item">{{ GZO_STYLE }}</small>
			</span>
		</div>

		<div class="gzo-card">
			<span class="gzo-card-icon">{{ Icon('gzo', 'mdi--language-php', lang('GZO_PHP'), true) }}</span>
			<span class="gzo-card-list">
				{{ lang('GZO_PHP') }}
				<small class="gzo-card-item">{{ PHP_VERSION_INFO }}</small>
			</span>
		</div>

		<div class="gzo-card">
			<span class="gzo-card-icon">{{ Icon('gzo', 'mdi--comments-text-outline', lang('GZO_BOARD'), true) }}</span>
			<span class="gzo-card-list">
				{{ lang('GZO_BOARD') }}
				<small class="gzo-card-item">{{ BOARD_VERSION }}</small>
			</span>
		</div>

	</div>

{% endblock %}
