{% extends '@baihu_baihu/layout/gzo-area.twig' %}

{% block gzo_main_heading %}

	<h2>{{ lang('AREA_MAIN_PAGE') }}</h2>
	<p class="gzo-area-desc">{{ lang('AREA_MAIN_PAGE_DESC') }}</p>

{% endblock %}

{% block gzo_main_content %}

	<div class="gzo-cards">
		<div class="gzo-card gzo-card-test">
			<span class="gzo-card-icon">{{ Icon('gzo', 'mdi--alien-outline', lang('AREA_BAIHU_INFO'), true) }}</span>
			<span class="gzo-card-list">
				{{ lang('AREA_BAIHU_INFO') }}
				<small class="gzo-card-item">{{ VERSION }}</small>
			</span>
		</div>

		<div class="gzo-card">
			<span class="gzo-card-icon">{{ Icon('gzo', 'mdi--style-outline', lang('AREA_STYLE_INFO'), true) }}</span>
			<span class="gzo-card-list">
				{{ lang('AREA_STYLE_INFO') }}
				<small class="gzo-card-item">{{ STYLE }}</small>
			</span>
		</div>

		<div class="gzo-card">
			<span class="gzo-card-icon">{{ Icon('gzo', 'mdi--language-php', lang('AREA_PHP_INFO'), true) }}</span>
			<span class="gzo-card-list">
				{{ lang('AREA_PHP_INFO') }}
				<small class="gzo-card-item">{{ PHP_VERSION }}</small>
			</span>
		</div>

		<div class="gzo-card">
			<span class="gzo-card-icon">{{ Icon('gzo', 'mdi--comments-text-outline', lang('AREA_BOARD_INFO'), true) }}</span>
			<span class="gzo-card-list">
				{{ lang('AREA_BOARD_INFO') }}
				<small class="gzo-card-item">{{ BOARD_VERSION }}</small>
			</span>
		</div>

	</div>

{% endblock %}
