{% if category.heading === 'DASHBOARD' %}
	<li class="area-navigation-item">
		<a class="gzo-navigation-link" href="{{ path(category.item[0].route) }}">
			{{- Icon('gzo', category.item[0].icon, lang(category.heading), true) -}}
			<span class="gzo-navigation-text">{{ lang(category.heading) }}</span>
		</a>
	</li>

		{# {% for item in category.item %}

			<li class="area-navigation-item">

				<a href="{{ path(item.route) }}" class="gzo-navigation-link">
					{{- Icon('gzo', item.icon, lang(category.heading), true) -}}
					<span class="gzo-navigation-text gzo-area-menu-text">{{ lang(item.title) }}</span>
				</a>

			</li>

		{% endfor %} #}

	{% if divider %}
		<li class="gzo-navigation-divider"></li>
	{% endif %}

{% else %}
	<li class="area-navigation-item">
		<button class="gzo-navigation-link gzo-area-btn">
			{{- Icon('gzo', category.icon, lang(category.heading), true) -}}
			<span class="gzo-navigation-text">{{ lang(category.heading) }}</span>
			{{ Icon('gzo', 'mdi--chevron-up', '', true) }}
		</button>

		<ul class="gzo-area-menu gzo-area-menu-line" aria-expanded="false">
			{% for item in category.item %}
				<li class="area-navigation-item">
					<a class="gzo-navigation-link" href="{{ path(item.route) }}">
						<span class="gzo-navigation-text gzo-area-menu-text">{{ lang(item.title) }}</span>
					</a>
				</li>
			{% endfor %}
		</ul>
	</li>
{% endif %}

